<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOSSIP</title>
    <link rel="icon" href="../content/Gossiplogo.png" />
    <link rel="stylesheet" href="stylesheet/home.css" />
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script type="text/javascript" src="script/home.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <div>
      <h1 class="nav-brand">GOSSIP</h1>
      <p style="color: white; font-family: 'Russo One', sans-serif; margin:0 0 0 10%;">Whisper Aloud</p>
      </div>
      <img src="../content/Gossiplogo.png" height="105em" width="100em" alt="">
    </nav>
    <div class="content">
      <h1 class="h1-new">Video Conference with friends on GOSSIP. Create or join a Gossip now!</h1>
      <form>
        <input
          type="text"
          id="join-room-input"
          autocapitalize="false"
          autocomplete="off"
          autofocus="true"
          placeholder="Gossip-id"
        />
        <button id="join-room">Join Gossip</button>
      </form>
      <button id="create-new-room">Create New Gossip</button>
    </div>
  </body>
</html>
